.btn{
    width: fit-content;
    height: 50px;

    padding: 0 30px;
    margin-top: 50px;

    border: none;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;

    background-color: white;

    cursor: pointer;
}