.hamburger{
    height: fit-content;
    width: 60px;

    cursor: pointer;

    transition: 0.5s;

    position: fixed;

    top: 80px;
    right: 100px;
    z-index: 1000;
}

.hamburgerLine{
    height: 4px;

    margin-bottom: 15px;

    background-color: white;

    border: none;
}

.active{
    right: 350px;
}

.active .hamburgerLine:first-of-type{
    transform: rotate(45deg);
    margin-bottom: -5px;
}
.active .hamburgerLine:last-of-type{
    transform: rotate(-45deg);
}

.hamburger:hover {
    height: 40px;
}

@media (min-width: 481px) and (max-width: 1280px) {

    .hamburger{
        width: 60px;

        position: absolute;

        top: 70px;
        right: 50px;
        z-index: 10000;
    }
    
    .active{
        right: 40px;
        top: 70px;

        position: fixed;
    }

    .hamburger:hover {
        height: fit-content
    }
}

@media (max-width: 480px) {
    .hamburger{
        width: 40px;

        position: absolute;

        top: 60px;
        right: 30px;
        z-index: 10000;
    }
    
    .active{
        right: 30px;
        top: 45px;

        position: fixed;
    }

    .hamburger:hover {
        height: fit-content
    }
}